@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Hamlet & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;600;700&display=swap');

.container {
  width: 1280px;
  margin: 0 auto;
}

.search{
  width:1235px;
  height: 80px;
  background-color: #FAFAFA;
  margin-top: 60px;
}

.Listsearch1 input{
  font-family: 'Gowun Batang';
  background-color:transparent;
  position: relative;
  border:none;
  line-height: 35px;
  outline: none ;
  width: 240px;
  font-size: 30px;
  color: #333333;
  float: left;
  clear: both;
  margin-top: 15px;
  padding-left:20px;
}

.Listsearch1 input::placeholder {
  color: #333333;
  font-size: 30px; 
}

.Listsearch2 input{
  font-size: 25px;
  color:#333333;
}

.checkin input{
  color: #333333;
  font-family: 'Gowun Batang';
  background-color:transparent;
  border:none;
  line-height: 35px;
  outline: none ;
  width: 180px;
  font-size: 25px;
  position: relative;
  float: left;
  margin-left: 230px;
  margin-top: 10px;
}

.checkin input[type="date"]::before {
  content:attr(data-placeholder);
  width:100%;
  color:#333333;
  border-right:1px solid #DBDBDB;
}

.checkout input{
  color: #333333;
  font-family: 'Gowun Batang';
  background-color:transparent;
  border:none;
  line-height: 35px;
  outline: none ;
  width: 192px;
  font-size: 25px;
  position: relative;;
  float: left;
  margin-top: 10px;
}

.checkout input[type="date"]::before {
  content:attr(data-placeholder);
  width:100%;
  color:#333333;
  border-right:1px solid #DBDBDB;
}

.guest1 input{
  color: #333333;
  font-family: 'Gowun Batang';
  background-color:transparent;
  border:none;
  line-height: 35px;
  outline: none;
  width: 155px;
  font-size: 25px;
  display: flex;
  position: relative;
  float: left;
  margin-top: 10px;
}

.guest1 input::placeholder {
  color: #333333;
  font-size: 25px; 
}

.button0{
  width: 150px;
  height: 56px;
  background-color: #668FA1;
  float: right;
  font-family: 'Gowun Batang';
  color: #FEFEFE;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border:none;
  cursor: pointer;
}

.button1{
  width: 270px;
  height: 56px;
  background-color: #668FA1;
  float: right;
  font-family: 'Gowun Batang';
  color: #FEFEFE;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 23px;
  border:none;
  cursor: pointer;
}

.morebutton{
  width: 240px;
  height: 76px;
  background-color: #668FA1;
  float: left;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 25px;
  color:#FEFEFE;
  margin-top: 96px;
  padding-top: 4px;
  margin-left: 340px;
  border:none;
  cursor: pointer;
}

.filterbox{
  width:260px;
  height: 628px;
  background-color: #ffffff;
  float: left;
}

button{
  appearance: none;
  border: none;
  outline: none;
}

.lodgingbox{
  width:980px;
  height: 2244px;
  background-color: #ffffff;
  float: right;
 
    clear:both;
}

.lodgingbox1{
  width: 450px;
  height: 548px;
  background-color: #ffffff;
  float: left;
  margin-top: 79px;
}

.lodgingbox2{
  width: 450px;
  height: 548px;
  background-color: #ffffff;
  float: left;
  margin-left: 15px;
  margin-top: 39px;
}

.lodgingbox3{
  width: 450px;
  height: 548px;
  background-color: #ffffff;
  float: left;
  margin-top: 55px;
}

.lodgingbox4{
  width: 450px;
  height: 548px;
  background-color: #ffffff;
  float: left;
  margin-left: 30px;
  margin-top: 55px;
}

.lodgingbox5{
  width: 450px;
  height: 548px;
  background-color: #EEEEEE;
  float: left;
  margin-left: 300px;
  margin-top: 55px;
}

.lodgingtitle{
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 25px;
  color: #333333;
  text-align: left;
  margin-top: 30px;
}

.lodgingcontent{
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 22px;
  color: #5B5B5B;
  text-align: left;
  margin-top: 20px;
}

.lodgingcontent1{
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 30px;
  color: #668FA1;
  float: right;
}

.lodgingcontent2{
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 22px;
  color: #5B5B5B;
  float: left;
}



.accordion {
  width: 271px;
  margin-top: 79px;
  position: absolute;
}

.item {
  background: #FFFFFF;
  margin-bottom: 5px;
  padding: 10px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom:1px solid #EEEEEE;
}

.title {
  color:#4D4D4D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 22px;
}

.content0001 {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content0001.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.acmlistinterval{
  height: 304px;
  float: left;
  width: 100%;
  font-family: 'Noto Sans KR';
  font-weight: 400;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  margin-left: 20px;
}

ul {
  list-style: none;
  padding: 0;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  margin-left: 20px;
}

ul.pagination li {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

ul.pagination li:first-child{
  border-radius: 8px;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

ul.pagination li:last-child{
  border-radius: 8px;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

ul.pagination li a {
  text-decoration: none;
  color: #333333;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

ul.pagination li.active a {
  color: #68A1B9;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

ul.pagination li.active {
  
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: #668FA1;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #FFFFFF;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

.acmlistheadercontainer {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  z-index: 20;
}

.acmlistheader {
  width: 1280px;
  margin: 0 auto;
  height: 120px;
  
}

.acmlistheaderlogo {
  text-align:left;
  font-weight: 700;
  font-size: 50px;
  font-family:'Hahmlet';
  display: flex;
  margin-top: 40px;
}

.acmlistheaderlogo a{
  color:#668FA1;
}

.acmlistheaderlogo a:hover{
  color:#668FA1;
}


.acmlistheadermenu1 {
  font-family:'Hahmlet';
  font-weight: 300;
  font-size: 30px;
  margin-top: 25px;
  margin-left: 100px;
  color:#668FA1;
}

.acmlistheadermenu2 {
  font-family:'Hahmlet';
  font-weight: 300;
  font-size: 30px;
  margin-top: 25px;
  margin-left: 80px;
}

.acmlistheadermenu3 {
  font-family: 'Hahmlet';
  font-weight: 300;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 600px;
  cursor: pointer;
}

.acmlistheadermenu4 {
  font-family: 'Hahmlet';
  font-weight: 300;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 30px;
}

.acmlistheadermenu1 a {
  color:#668FA1;
}

.acmlistheadermenu2 a {
  color:#333333;
}

.acmlistheadermenu3 a{
  color:#333333;
}

.acmlistheadermenu4 a{
  color:#333333;
}

.acmlistheadermenu1 a:hover{
  color: #668FA1;
  transition : 0.5s;
} 

.acmlistheadermenu2 a:hover{
  color: #668FA1;
  transition : 0.5s;
}

.acmlistheadermenu3 a:hover{
  color: #668FA1;
  transition : 0.5s;
}

.acmlistheadermenu4 a:hover{
  color: #668FA1;
  transition : 0.5s;
}
