@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Hamlet & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;600;700&family=Noto+Serif+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

.signcontainer{
    margin: 0 auto;
    width: 1280px;
}

.signtext{
    margin-top: 23px;
    color:#535353;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 27px;
    float: left;
    clear: both;
}

.signtext1{
    margin-top: 166px;
    color:#668FA1;
    font-family: 'Noto Serif KR';
    font-size: 55px;
    float: left;
    clear: both;
}

.signtext2{
    margin-top: 96px;
    color:#535353;
    font-family: 'Noto Sans KR';
    font-size: 30px;
    font-weight: 400;
    float: left;
    clear: both;
}

.signtext3{
    margin-top: 30px;
    color:#535353;
    font-family: 'Gowun Dodum';
    font-size: 25px;
    float: left;
    clear:both;
}

.signtext4 input{
    color:#535353;
    font-family: 'Gowun Dodum';
    font-size: 20px;
    float: left;
    clear: both;
    width: 530px;
    background-color:transparent;
    border:none;
    line-height: 55px;
    outline: none ;
    position: relative;;
    border-bottom:1px solid #E3E3E3;
}

.signtext5 input{
    margin-left: 40px;
    color:#535353;
    font-family: 'Gowun Dodum';
    font-size: 20px;
    float: left;
    width: 530px;
    background-color:transparent;
    border:none;
    line-height: 55px;
    outline: none ;
    position: relative;;
    border-bottom:1px solid #E3E3E3;
}

.signtext6{
  margin-top: 30px;
  color:#535353;
  font-family: 'Gowun Dodum';
  font-size: 25px;
  float: left;
}

.signtext7{
  margin-top: 30px;
  color:#535353;
  font-family: 'Noto Sans KR';
  font-size: 25px;
  float: left;
  clear:both;
  font-weight: 300;
}

.signtext8{
  color:#535353;
  font-family: 'Noto Sans KR';
  font-size: 25px;
  float: right;
  font-weight: 300;
  margin-right:180px;
  margin-top: 20px;
}

.signtext9{
  margin-top: 20px;
  color:#535353;
  font-family: 'Noto Sans KR';
  font-size: 25px;
  float: left;
  clear:both;
  font-weight: 300;
}

.signtext10{
  color:#535353;
  font-family: 'Noto Sans KR';
  font-size: 25px;
  float: right;
  font-weight: 300;
  margin-right:180px;
  margin-top: 30px;
}

.signheadercontainer {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    z-index: 20;
  }
  
  .signheader {
    width: 1280px;
    margin: 0 auto;
    height: 120px;
    
  }
  
  .signheaderlogo {
    text-align:left;
    font-weight: 700;
    font-size: 50px;
    font-family:'Hahmlet';
    display: flex;
    margin-top: 40px;
  }
  
  .signheaderlogo a{
    color:#668FA1;
  }
  
  .signheaderlogo a:hover{
    color:#668FA1;
  }
  
  
  .signheadermenu1 {
    font-family:'Hahmlet';
    font-weight: 300;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 100px;
    color:#668FA1;
  }
  
  .signheadermenu2 {
    font-family:'Hahmlet';
    font-weight: 300;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 80px;
  }
  
  .signheadermenu3 {
    font-family: 'Hahmlet';
    font-weight: 300;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 600px;
  }
  
  .signheadermenu4 {
    font-family: 'Hahmlet';
    font-weight: 300;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 30px;
  }
  
  .signheadermenu1 a {
    color:#333333;
  }
  
  .signheadermenu2 a {
    color:#333333;
  }
  
  .signheadermenu3 a{
    color:#333333;
  }
  
  .signheadermenu4 a{
    color:#668FA1;
  }
  
  .signheadermenu1 a:hover{
    color: #668FA1;
    transition : 0.5s;
  } 
  
  .signheadermenu2 a:hover{
    color: #668FA1;
    transition : 0.5s;
  }
  
  .signheadermenu3 a:hover{
    color: #668FA1;
    transition : 0.5s;
  }
  
  .signheadermenu4 a:hover{
    color: #668FA1;
    transition : 0.5s;
  }
  